html {
    height: 100%;
}

body {
    min-height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

 .flex-column {
    flex-direction: column;
}

.flex-grow-1 {
     flex-grow: 1;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-align-items-start {
    align-items: flex-start;
}

.flex-align-items-end {
    align-items: flex-end;
}