.wrapper-flex {
    display: flex;
    align-items: center;
    justify-content: center
}

.wrapper-flex .flex-grow {
    flex-grow: 1;
}

.site-masthead {
    padding: 16px;
    width: 64px;
    height: 64px;
}