.wrapper-flex {
    display: flex;
    align-items: center;
    justify-content: center
}

.wrapper-flex .flex-grow {
    flex-grow: 1;
}

.site-masthead {
    padding: 16px;
    width: 64px;
    height: 64px;
}

.button {
    transition-duration: 0.2s;
    padding: 16px 32px;
    background-color: #FF5E00;
    color: white;
    margin: 16px 0;
}

.button:hover {
    background-color: #FF6E00;
    color: white;
}

.button:visited {
    color: white;
}